{% extends "base.html" %} {% block content %}
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <div class="post-block page" style="opacity: 1; display: block;">
                    <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);"><h2
                            class="post-title" itemprop="name headline">关于</h2></header>
                    <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                        <p>生命不息，奋斗不止。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}